.boardListing {
  padding: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #455A64;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
}

.boardListTitle {
  margin-left: 5px;
  font-size: 1.3em;
  font-weight: lighter;
  display: inline-block;
}

.appBarTitle {
  color: #333;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  font-size: 1em;
  font-weight: 300;
}

/********************* ANIMATIONS **********/
.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

.board-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.board-enter.board-enter-active {
  opacity: 1;
 /* transition: width 1s ease-in, height 1s ease-in;*/
}

.board-leave {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.board-leave.board-leave-active {
  opacity: 0;
}
/*********************** END ANIMATIONS *********/
